---
import { getLangFromUrl, useTranslatedPath } from "@i18n/utils";

interface Props {
  href: string;
  name: string;
}

const { href, name } = Astro.props;
const currentPath = Astro.url.pathname;

// Detectar el idioma de la URL
const currentLang = getLangFromUrl(new URL(currentPath, Astro.url.origin));

// Función para generar la ruta correcta
const translatePath = useTranslatedPath(currentLang);
const localizedHref = translatePath(href, currentLang);

// Verificar si la ruta actual es una ruta activa
const isActive =
  currentPath === localizedHref ||
  (currentPath.includes("/rooms") && localizedHref.includes("/rooms"));
---

<li>
  <a
    class="text-textPrimary mx-4 text-xl leading-tight truncate font-semibold"
    aria-label={`Ruta a ${name}`}
    href={localizedHref}
  >
    {name}
  </a>
  {
    isActive ? (
      <div
        transition:name="menu-line"
        class="border-b-4 md:mx-4 border-azulOcean transition-all ease-in-out"
      />
    ) : (
      <div class="border-b-4 mx-4 border-transparent" />
    )
  }
</li>
