---
interface Props {
  href: string;
  name: string;
}

const { href, name } = Astro.props;
const currentPath = Astro.url.pathname;
const isSpanish = currentPath.startsWith("/es");

// Si el idioma es español, modifica el href en consecuencia
const localizedHref = isSpanish ? `/es${href}` : href;

// Para manejar rutas dinámicas dentro de "rooms" o "/es/rooms"
const isRoomsRoute =
  currentPath.startsWith("/rooms") || currentPath.startsWith("/es/rooms");
const isActive =
  currentPath === href ||
  currentPath === localizedHref ||
  (href.includes("/rooms") && isRoomsRoute);
---

<li>
  <a
    class="text-textPrimary mx-4 text-xl leading-tight truncate font-semibold"
    aria-label={`Ruta a ${name}`}
    href={localizedHref}
  >
    {name}
  </a>
  {
    isActive ? (
      <div
        transition:name="menu-line"
        class="border-b-4 md:mx-4 border-azulOcean transition-all ease-in-out"
      />
    ) : (
      <div class="border-b-4 mx-4 border-transparent" />
    )
  }
</li>
