---
import Container from "@components/shared/Container.astro";
interface Props {
  bgTop?: string;
  bgBottom?: string;
  topTitle?: string;
  bottomTitle?: string;
  isBackGround?: boolean;
}

const {
  isBackGround = false,
  bgBottom = " bg-abajoBG",
  bgTop = "bg-arribaBG",
  topTitle,
  bottomTitle,
} = Astro.props;
---

<header
  class={`bg-center bg-cover bg-no-repeat  bg-fixed flex items-center justify-center h-screen pb-12 ${bgTop}`}
>
  <div class="mx-auto">
    <div
      class="text-3xl md:text-5xl bg-backGround bg-opacity-40 backdrop-filter backdrop-blur-sm transition-all duration-300 shadow-xl rounded-xl p-4 text-center md:p-8"
    >
      <h1>Increible Hostel with Bungalow and Glamping rooms</h1>
      <span>Texto de fondo que no se que poner</span>
    </div>
  </div>
</header>

<Container>
  <slot />
</Container>

{
  isBackGround ? (
    <div
      class={`bg-center bg-cover bg-no-repeat bg-fixed flex items-center justify-center h-screen mx-auto ${bgBottom}`}
    >
      <div class="text-3xl md:text-5xl bg-backGround bg-opacity-40 backdrop-filter backdrop-blur-sm transition-all duration-300 shadow-xl rounded-xl p-4 text-center md:p-8">
        <h1>Increible Hostel with Bungalow and Glamping rooms</h1>
        <span>Texto de fondo que no se que poner</span>
      </div>
    </div>
  ) : (
    ""
  )
}
