---
import { Icon } from "astro-icon/components";
---

<button
  onclick="window.history.back()"
  class="flex items-center gap-2 p-2 transition-all ease-in-out text-textPrimary group font-thin text-2xl mb-8 hover:bg-azulOcean rounded-md hover:text-white"
>
  <Icon
    size={32}
    name="arrowLeft"
    class="hover:text-white ease-in transition-all group-hover:-translate-x-2"
  />
  Regresar
</button>
