---
import ChevronIcon from "@assets/icons/ChevronIcon.astro";
import { languages } from "@i18n/ui";

import {
  getRouteFromUrl,
  useTranslatedPath,
  getLangFromUrl,
} from "@i18n/utils";

const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const currentLocaleData = languages[lang];
const otherLocales = Object.values(languages).filter(
  (locale) => locale.code !== lang
);
---

<div class="relative inline-block text-left">
  <div
    class="transition-all ease-in group text-sandy bg-slate-800/95 rounded-md text-sm font-semibold"
  >
    <button
      type="button"
      class="inline-flex justify-start items-center w-full gap-x-2 px-2 py-2"
      aria-expanded="true"
      aria-haspopup="true"
    >
      {currentLocaleData.code}
      <ChevronIcon />
    </button>
    <div
      class="group-hover:block group-hover:animate-fade-down group-hover:animate-duration-200 hidden pt-0.5 absolute w-full"
    >
      {
        otherLocales.map((locale) => (
          <div class="py-[2px]">
            <a
              class="rounded-md  whitespace-no-wrap hover:bg-slate-800/85 inline-flex justify-start items-center w-full gap-x-2 text-sandy bg-slate-800/95 px-3 py-2"
              href={translatePath(`/${route ? route : ""}`, locale.code)}
            >
              {locale.code}
            </a>
          </div>
        ))
      }
    </div>
  </div>
</div>
