---
import Layout from "@layouts/Layout.astro";
import Parallax from "@components/shared/Parallax.astro";
import PhotoSwipe from "@components/shared/PhotoSwipe.astro";
import Title from "@components/shared/Title.astro";
import { getI18N } from "@i18n/index";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { topTitle, topDescription, bottomTitle, bottomDescription } =
  i18n.Gallery;
---

<Layout title="Gallery App">
  <Parallax
    isBackGround
    showContent
    topTitle={topTitle}
    topParagraph={topDescription}
    bottomTitle={bottomTitle}
    bottomParagraph={bottomDescription}
  >
    <p class="text-2xl text-center text-textPrimary">
      Galería de las diversas actividades que puedes realizar al hospedarte en <span
        class="text-naranja">Hostel Flakos</span
      >
    </p>
    <PhotoSwipe imageFolder="ejemplo" />
  </Parallax>
</Layout>
