---
import Layout from "@layouts/Layout.astro";
import Container from "@components/shared/Container.astro";
---

<Layout title="Rooms App">
  <Container>
    <h1>Rooms App</h1>
  </Container>
</Layout>
