---
import { Image } from "astro:assets";
import fondo from "@assets/images/View.avif";
import Container from "@components/shared/Container.astro";

import { getI18N } from "@i18n/index";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { title, body } = i18n.Home.cultural;
---

<div class="relative mb-40 md:mb-28">
  <!-- Imagen de fondo -->
  <Image
    src={fondo}
    alt="Beautiful Island"
    class="w-full h-96 object-cover md:h-[500px] lg:h-[600px]"
  />

  <!-- Contenedor del texto superpuesto -->
  <Container
    className="absolute inset-x-0 bottom-0 md:mx-auto transform mx-8  translate-y-1/2 bg-white rounded-xl p-4 md:p-6 lg:p-8 shadow-lg"
  >
    <h2
      class="text-center text-xl md:text-2xl lg:text-3xl font-semibold text-textPrimary uppercase tracking-widest"
    >
      {title}
    </h2>
    <p
      class="mt-2 md:mt-4 text-textPrimary text-xs md:text-base lg:text-lg leading-relaxed text-center"
    >
      {body}
    </p>
  </Container>
</div>
