---
import Title from "@components/shared/Title.astro";
---

<div class="py-10 flex flex-col items-center">
  <Title title="Our Mission" />
  <div class="grid gap-6 md:grid-cols-2">
    <div class="shadow-2xl rounded-lg overflow-hidden bg-backGround">
      <div class="p-6 leading-normal">
        <h3
          class="text-2xl md:text-3xl font-bold mb-4 text-textPrimary text-center"
        >
          Our Mission
        </h3>
        <p class="text-textPrimary prose-invert prose-lg">
          Hostel Flakos mission is to show our guests the beauty and variety of
          playa blanca for affordable prices! Our idea is to help the dogs
          getting more love or even adopted. Also taking care of the puppies of
          the shelter so guests can play and train them to become good dogs.
        </p>
      </div>
    </div>
    <div class="shadow-2xl rounded-lg overflow-hidden bg-backGround">
      <div class="p-6 leading-normal">
        <h3
          class="text-2xl text-center md:text-3xl font-bold mb-4 text-textPrimary"
        >
          Our Vision
        </h3>
        <p class="text-textPrimary prose-invert prose-lg">
          Located in the picturesque perfect paradise of Playa Blanca, Guerrero,
          Mexico, Hostel Flakos is merely 5 minutes from one of the best surf
          breaks in the area. Excellent free diving, snorkeling, fishing, paddle
          boarding, whale watching, kayaking, birdwatching, nearby archeological
          sites and of course beach bumming. The best part of all…the public
          entrance to the beach is just across the street!
        </p>
      </div>
    </div>
  </div>
</div>
